
<div *ngIf="positions$ | async as positions; else loader">
  <table *ngIf="positions.length !== 0; else empty"
    class="highlight">
    <thead>
    <tr>
      <th>Найменування</th>
      <th>Вартість</th>
      <th>Кількість</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let position of positions">
      <td>{{position.name}}</td>
      <td>{{position.cost}} UAH</td>
      <td>
        <div class="input-field inline order-position-input">
<!--          розрахунок к-ті доданих продуктів.-->
          <input
            [(ngModel)]="position.quantity"
            type="number" value="1" min="1">
        </div>
      </td>
      <td>
        <button
          (click)="addToOrder(position)"
          class="btn waves-effect wavers-light btn-small"
          [disabled]="!position.quantity"
        >
          Додати
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #empty>
    <div class="center">В категорії відсутні позиції.</div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
