.card {
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/powerful-gorilla-marian-voicu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &-action__register{
    padding: 16px 24px;
  }
}
.input-field__bg {
  opacity: 0.85;
}
.card-content__input--error {
  color: #ff0000;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
}
