<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Увійти до системи</span>
    <div class="input-field">
      <input
        class="input-field__bg"
        formControlName="email"
        id="email"
        type="email"
        [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
      >
      <label for="email">Email:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
       <span
         class="card-content__input--error"
         *ngIf="form.get('email').errors['required']"> Поле email не може бути пустим</span>
        <span
          class="card-content__input--error"
          *ngIf="form.get('email').errors['email']"> Введіть корректний email</span>
      </span>

    </div>
    <div class="input-field">
      <input
        class="input-field__bg"
        formControlName="password"
        id="password"
        type="password"
        [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
      >
      <label for="password">Password:</label>

      <span

        class="helper-text red-text"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
       <span
         class="card-content__input--error"
         *ngIf="form.get('password').errors['required']"> Поле password не може бути пустим</span>
        <span
          class="card-content__input--error"
          *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          Пароль має бути більше {{form.get('password').errors['minlength']['requiredLength']}} символів.
          Наразі {{ form.get('password').errors['minlength']['actualLength']}}
        </span>
      </span>
    </div>
  </div>
  <div class="card-action__login">
    <button
      [disabled]="form.invalid || form.disabled"
      type="submit"
      class="modal-action btn waves-effect"
    >
      Увійти
    </button>
  </div>
</form>
